body {

    margin: 8px;
    display: block;
  }

  h3 {
    font-size: 36px;
    text-align: center;
  }

  h4 {
    font-size: 32px;
  }

  p {
    font-size: 20px;
  }
  .items {
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 2em;
  }
  a{
    text-decoration:solid;

  }


  a.education:hover
  {
    text-decoration-line:underline;
  }
  #mainHeading
  {
    color: red;
  }
  
  .funParagraph
  {
    color: green;
    display: block;
  }
  img
  {
    position: relative;
  }